/* https://www.youtube.com/watch?v=srvUrASNj0s */
/* Really good reference for responsive layout with examples */

/* Click to left of elements tab in Chrome debugger to see options */
/* +++ showing different screen emulations for mobile devices +++ */

/* Use larger width percentages for global containers so that they don't seem to have large margins on smaller screens */
/* Set Min and Max Widths so that they don't look crazy in extreme cases. */

.container {
    width: 90%;
    max-width: 620px;
    min-width: 200px;
    border: 2px solid magenta;
    margin: 0 auto;
}

/* em, rem, px FOR FONTS */
/* em is relative to the font-size of its direct or nearest parent, rem is only relative to the html (root) font-size */
/* Pixels used to be a static size, but now it follows a reference pixel unit, so in theory it is a responsive unit as well */
/* and can work in a lot of cases. */

/* em, rem, px FOR ELSEWHERE (e.g. padding)  */
/* em is relative to the 'font-size' of that same element (e.g. padding on a button) [not relative to parent] */

/* General Rules of thumb:  
    Font-size: rem; 
    padding & margin: em;
    widths: em or percentage
*/

h1 {
    font-size: 3rem;
    margin-bottom: 0.5em;
}


/* MEDIA QUERIES */
/* Media queries let us add new styles that target only specific conditions. */
/* Both media types and conditions are optional. */

/* Guideline */
@media media-type and (media features) {

}

/* Example */
@media screen and (min-width: 960px) { }

/* Media type lets us target different types of media:
    Screen: @media screen
    Print: @media print
    Speech: @media speech
*/

/* Media condition lets us target specific conditions within that media type. 
    Widths: @media (min-width: 600px) {}
    Orientation: @media (orientation: landscape) {}
    Specific Features: @media (hover) {}
*/

/* Can also combine conditions */
/* Example: this says for screen 400px <= x < 649px, color body background red */
@media (min-width: 400px) and (max-width: 649px) {
    body {
        background: red;
    }
}

/* Orientation: landscape - screen is wider than it is tall */
/* Orientation: portrait - screen is taller than it is wide */